1  ULTRAMSG_INSTANCE=instance169491
2  ULTRAMSG_TOKEN=your_token_here
3  SALON_NAME=salon-name-here
4  SALON_PHONE=+212661234567
5  SALON_ADDRESS=address-here
6  API_SECRET=change-this-to-random-secret-ab...
7  PORT=3000
