ULTRAMSG_INSTANCE=instance170600
ULTRAMSG_TOKEN=3x7ofeb85limw3p9
SALON_NAME=الصالون
SALON_PHONE=+212661234567
SALON_ADDRESS=Adresse à proximité : M4W7+H2X قربة مقهى كلينوكور, Oujda 
API_SECRET=mysecret123
PORT=3000
